In [ ]:
introduction to list datatype

In [ ]:
Def: A list of collection of items declared in a particular order
Classification: mutable (can edit)

In [ ]:
students = ['anjali','vihaan','rivaan','asha','rakesh']

In [1]:
print(students)

NameError: name 'students' is not defined

In [2]:
students = ['anjali','vihaan','rivaan','asha','rakesh']
print(students)

['anjali', 'vihaan', 'rivaan', 'asha', 'rakesh']

In [3]:
type(students)

list

In [ ]:
introduction to indexing: 0,1,2,3,4...

In [4]:
print((students[1])) # to access vihaan name from the above list

vihaan

In [5]:
print(students[3]) # to access asha name from the above list

asha

In [6]:
students.append('amrut')    #append = name gets added to above list in the last position
print(students)

['anjali', 'vihaan', 'rivaan', 'asha', 'rakesh', 'amrut']

In [7]:
students.insert(1,'laxman')    #insert =  to insert laxman in the first index position
print(students)

['anjali', 'laxman', 'vihaan', 'rivaan', 'asha', 'rakesh', 'amrut']

In [ ]:
to modify name: rivaan name to sayli

In [8]:
students[3] = 'sayli'
print(students)

['anjali', 'laxman', 'vihaan', 'sayli', 'asha', 'rakesh', 'amrut']

In [ ]:
#del = to permanently delete something from the above list

In [9]:
del students[2]  # del the name of the index no 2 
print(students)

['anjali', 'laxman', 'sayli', 'asha', 'rakesh', 'amrut']

In [ ]:
# temporary deletion

pop = used to delete things teporarily =  carbon copy of the deleted items and stores in a variable assigned to it

by default it will be deleting ht last element in the list

In [10]:
a = students.pop()   # 'a' is a variable
print(students)

['anjali', 'laxman', 'sayli', 'asha', 'rakesh']

In [11]:
print(a)

amrut